/* TITLE */

.blog-post-title {
	text-align: left;
}

.blog-post-meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
	margin-bottom: 2em;
}

.blog-title-separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.first-sentence {
	font-variant: small-caps;
}



/* DROP CAPS */

.drop-caps::first-letter {
	font-family: "EB Garamond";
	float: left;
	font-size: calc(250%);
	color: darkred;
}

.drop-caps[data-letter=I]::first-letter {
	padding-top: 0.4ex;
	padding-right: 0.4ex;
}

.drop-caps[data-letter=O]::first-letter {
	font-size: calc(240%);
	padding-top: 0.3ex;
	padding-right: 0.5ex;
}

.drop-caps[data-letter=T]::first-letter {
	font-size: calc(240%);
	padding-top: 0.3ex;
	padding-right: 0.3ex;
}

.drop-caps[data-letter=Y]::first-letter {
	font-size: calc(240%);
	padding-top: 0.4ex;
	padding-right: 0.3ex;
}




/* CODE FORMATTING */

.content pre {
	margin-left: 3em;
}
