/* HEADER STYLE */

h1, h2, h3, h4, h5, h6 {
	font-family: "EB Garamond";
	font-feature-settings: "ss06";
	font-weight: 600;
}



/* AUTOMATIC HEADER NUMBERS */

h1 {
	counter-reset: section;
}

h2 {
	counter-reset: subsection;
}

h3 {
	counter-reset: subsubsection;
}

h2::before {
	counter-increment: section;
	content: counter(section) ". ";
}

h3::before {
	counter-increment: subsection;
	content: counter(section) "." counter(subsection) ". ";
}



/* LISTS */

ol *::marker {
	font-variant-numeric: oldstyle-nums tabular-nums;
}

ol li p {
	margin-top: 0;
	margin-bottom: 0;
}

ol:not(.toc ol) > li+li {
	padding-top: 1ex;
}


/* TABLE OF CONTENTS */

.toc {
	counter-reset: item;
}

.toc > li {
	counter-increment: item;
}

.toc > li::marker {
	content: counter(item) ".";
}

.toc > li > ol {
	counter-reset: subitem;
}

.toc > li > ol > li {
	counter-increment: subitem;
}

.toc > li > ol > li::marker {
	content: counter(item) "." counter(subitem);
}

.toc li {
	padding-left: 1ex;
}






/* TABLE STYLE */

.table-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-table {
	width: 100%;
	border-collapse: collapse;
}

.content-table td+td {
	padding-left: 1em;
}

.content-table td:last-child {
	text-align: right;
}

