/* EB GARAMOND FONTS */

@font-face {
	font-family: "EB Garamond";
	src: url("fonts/ebgaramond-variablefont_wght.woff")
	     format("woff");
	font-style: normal;
}

@font-face {
	font-family: "EB Garamond";
	src: url("fonts/ebgaramond-italic-variablefont_wght.woff")
	     format("woff");
	font-style: italic;
}





/* LIBERTINUS FONTS */

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-regular.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-italic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-bold.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Libertinus Serif";
	src: url("fonts/libertinusserif-bolditalic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-regular.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-italic.woff2")
	     format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Libertinus Sans";
	src: url("fonts/libertinussans-bold.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Libertinus Math";
	src: url("fonts/libertinusmath-regular.woff2")
	     format("woff2");
	font-style: normal;
	font-weight: normal;
}
