{% extends "base.html" %}

{% block content %}

<h1>
	{{ taxonomy.name | capitalize }}
</h1>

{% set my_terms = terms %}

{% for term in my_terms %}
{% endfor %}

{% for term in my_terms %}
	<a href="{{ term.permalink | safe }}">{{ macros::tag(name=term.name) }} ({{ term.pages | length }})</a><!--
	{% if loop.index != my_terms | length %}
	-->,<!--
	{% endif %}-->
{% endfor %}

{% endblock content %}
