{% extends "base.html" %}

{% block content %}
<div class="title-container">
	<h1>
		{{ macros::tag(name=term.name) }} (tag)
	</h1>
</div>

The following posts are marked with this tag.

<ul>
{% for page in term.pages %}
	<li>
		<a href="{{page.permalink | safe}}">
			{{ page.title }}
			({{ page.date | date(format="%B %e, %Y") }})
		</a>
	</li>
{% endfor %}
</ul>

<p class="return-to-parent">
	<a href="/tags/">
		see all tags
	</a>
</p>

{% endblock content %}
