{% import "teramacros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Affine Quantum Blog</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="container">
		<nav class="header">
			<span id="title">
				<a href="/">
					Affine Quantum Blog
				</a>
			</span>
			<span>
				<a href="/blog/">
					Blog
				</a>
			</span>
			<span>
				<a href="/writing/">
					Writing
				</a>
			</span>
			<span>
				<a href="/about/">
					About
				</a>
			</span>
		</nav>
		<div class="content">
			{% block content %} {% endblock %}
		</div>
		<div class="separator" id="bottom">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
			<img src="/decoration/footer-line.svg">
		</div>
		<div class="footer">
			<span class="valign">
				<a href="https://gitlab.com/cionx/">
				<img src="/logos/gitlab.svg">
					@cionx
				</a>
			</span>
			<span class="valign">
				<a href="https://github.com/cionx/">
					<img src="/logos/github.svg">
					cionx
				</a>
			</span>
			<span class="valign">
				<a href="https://twitter.com/cionxcionx">
					<img src="/logos/twitter.svg">
					@cionxcionx
				</a>
			</span>
			<span class="valign">
				<a href="https://mastodon.online/@cionx">
					<img src="/logos/mastodon.svg">
					@cionx@mastodon.online
				</a>
			</span>
			<span class="valign">
				<a href="https://stackexchange.com/users/7524434/jendrik-stelzner">
					<img src="/logos/stack-exchange.svg">
					Jendrik Stelzner
				</a>
			</span>
			<span class="valign">
				<img src="/logos/mail.svg">
				jendrikstelzner (at) web.de
			</span>
		</div>
	</div>
</body>

</html>
