{% extends "base.html" %}

{% block content %}

<h1 class="blog-post-title">
  {{ page.title }}
</h1>
<div class="blog-post-meta">
	<strong>{{ page.date }}</strong>
	<span>
		{% for tag in page.taxonomies.tags %}
		<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag  }}</a><!--
		{% if loop.index != page.taxonomies.tags | length %}
		-->,<!--
		{% endif %}-->
		{% endfor %}
	</span>
</div>


{{ page.content | safe }}


{% endblock content %}
