{% extends "base.html" %}

{% block content %}

<h1>
	Tags
</h1>

{% set taxonomy = get_taxonomy(kind="tags") %}

{% for term in taxonomy.items %}
	<a href="{{ term.permalink | safe }}">{{ term.name }} ({{term.pages | length }})</a><!--
	{% if loop.index != taxonomy.items | length %}
	-->,<!--
	{% endif %}-->
{% endfor %}


<h1>
	Blog posts
</h1>

<div class="table-container">
	<table class="content-table">
		<tbody>
		{% for page in section.pages %}
			<tr>
				<td>
					<a href={{page.permalink | safe}}>
						{{ page.title }}
						({{ page.date | date(format="%B %e, %Y") }})
					</a>
				</td>
				<td>
					{% for tag in page.taxonomies.tags %}
					<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag  }}</a><!--
					{% if loop.index != page.taxonomies.tags | length %}
					-->,<!--
					{% endif %}-->
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
