{% extends "base.html" %}

{% block content %}

<h1>
	{{ page.title }}
</h1>

<ol class="toc">
{% for h1 in page.toc %}
	<li>
		<a href={{ h1.permalink | safe }}>
			{{ h1.title }}
		</a>
		{% if h1.children %}
		<ol>
		{% for h2 in h1.children %}
			<li>
				<a href={{ h2.permalink | safe }}>
					{{ h2.title }}
				</a>
			</li>
		{% endfor %}
		</ol>
		{% endif %}
	</li>
{% endfor %}
</ol>


{{ page.content | safe }}

{% endblock content %}
